/**
 * sass > generic > _helpers.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}