/**
 * sass > ui > layout.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 */


html{
    background-color:$white;
    font-size:16px;
}
body{
    background:blue;
    & > section{
        min-width:320px;
        max-width:960px;
        margin:0 auto;
        @include clearfix;
        article{
            width:gutter-grid( 1, 12, percentage( 10px / 960px ) );
            margin:0 percentage( 10px / 960px );
            float:left;
            display:block;
            background-color:rgba( 255,0,0,.33 );
        }
    }
}