/**
 * sass > objects > _grids.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 *
 * This file will build up the code for a responsive fluid layout using %
 */

.grid {
    &.grid--alpha {
        @include rem("margin", 0 20px);
    }
    &,
    .grid__row {
        @include clearfix;
    }
    .grid__row {
        @include rem("margin", 0 -10px);
    }
    .grid__column {
        float: left;
        display: block;
        @include rem("padding", 0 10px);
        @if true == $responsive {
            $sml-grid-column: 4;
            $sml-column-inc: 1;
            @include media-query('small-only') {
                @while $sml-column-inc <= $sml-grid-column {
                    &.sml--column-#{$sml-column-inc}-#{$sml-grid-column} {
                        width: (100% / $sml-grid-column) * $sml-column-inc;
                    }
                    $sml-column-inc: $sml-column-inc + 1;
                }
            }
            $med-grid-column: 6;
            $med-column-inc: 1;
            @include media-query('medium-only') {
                @while $med-column-inc <= $med-grid-column {
                    &.med--column-#{$med-column-inc}-#{$med-grid-column} {
                        width: (100% / $med-grid-column) * $med-column-inc;
                    }
                    $med-column-inc: $med-column-inc + 1;
                }
            }
            $lrg-grid-column: 12;
            $lrg-column-inc: 1;
            @include media-query('large') {
                @while $lrg-column-inc <= $lrg-grid-column {
                    &.lrg--column-#{$lrg-column-inc}-#{$lrg-grid-column} {
                        width: (100% / $lrg-grid-column) * $lrg-column-inc;
                    }
                    $lrg-column-inc: $lrg-column-inc + 1;
                }
            }
        }
        @else {
            $grid-column: 12;
            $column-inc: 1;
            @while $column-inc <= $grid-column {
                &.column--#{$column-inc}-#{$grid-column} {
                    width: (100% / $grid-column) * $column-inc;
                }
                $column-inc: $column-inc + 1;
            }
        }
    }
}