/**
 * sass > ui > layout.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 */

html{
    background-color:$white;
    font-size:16px;
}
body{
    width: gutter-grid( 1, 12, percentage( 10px / 960px ) );
    margin:0 percentage( 10px / 960px );
}