/**
 * sass > helpers > mixins.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 *
 * SASS Mixins are useful to automate common styling patterns.
 * Mixins can be used throughout your SASS files by using @include [MIXIN NAME]
 */

// Create a simple mixin for clearing floats.
@mixin clearfix {
    *zoom:1;
    &:before,
    &:after{
        content:' ';
        display:table;
    }
    &:after{ clear:both; }
}

// Create a simple mixin for older browsers to support display: inlin-block;
@mixin inline-block {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
}

// Create a function to convert pixel values into ems.
@function ems( $a, $b ) {
    @return ( $a / $b ) + em;
}

// Create a mixin to return a vendor specific property.
@mixin vendor( $property, $value ) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

// Create a mixin to return a vendor specific animation.
@mixin keyframe ( $animation-name ) {
    @-webkit-keyframes $animation-name {
        @content;
    }

    @-moz-keyframes $animation-name {
        @content;
    }

    @-ms-keyframes $animation-name {
        @content;
    }

    @-o-keyframes $animation-name {
        @content;
    }

    @keyframes $animation-name {
        @content;
    }
}