/**
 * sass > helpers > mixins.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 *
 * SASS Mixins are useful to automate common styling patterns.
 * Mixins can be used throughout your SASS files by using @include [MIXIN NAME]
 */

/*
 * Usage: @include clearfix;
 * Create a simple mixin for clearing floats.
 */
@mixin clearfix {
    *zoom:1;
    &:before,
    &:after{
        content:' ';
        display:table;
    }
    &:after{ clear:both; }
}

/*
 * Usage: @include inline-block;
 * Create a simple mixin for older browsers to support display: inlin-block;
 */
@mixin inline-block {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
}

/*
 * Usage: @include vendor( $a, $b );
 * Create a mixin to return a vendor specific property.
 */
@mixin vendor( $property, $value ) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

/*
 * Usage: keyframe( $a ) { $b };
 * Create a mixin to return vendor specific animations.
 */
@mixin keyframe ( $animation-name ) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-ms-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

/*
 * Usage: @include ems( $a, $b );
 * Create a function to convert pixel values into ems.
 */
@function ems( $a, $b ) {
    @return ( $a / $b ) * 1em;
}